@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

body {
    background: rgb(231, 236, 233);
    color: #3f3f3f;
    font: 14px- 28px;
    font-family: 'Raleway', arial;
}
/*FOOTER SECTİON*/
.Footercontainer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    background: rgb(229, 225, 228);
    padding: 20px 40px;
}

.footeritemcontainer {
    margin: 0 auto;
    border-radius: 9px;
    background: #fff;
    width: 90%;
    align-items: center;
}

.footerbottom {
    width: 50%;
}

.footertop {
    width: 50%;
    margin-left: 5px;
}

.footeritem {
    padding: 20px;
}

footer .fab {
    font-size: 30px;
    color: rgb(2, 91, 222);
    line-height: 40px;
    transition: .3s ease;
}

footer h3 {
    color: #339933;
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#footer1 {
}

footer .fab:hover {
    color: rgb(4, 179, 245);
}

.FooterLinks a {
    text-decoration: none;
    color: rgb(9, 25, 20);
    letter-spacing: 2px;
    transition: .3s ease;
    font-size: 17px;
    line-height: 1.3;
}

    .FooterLinks a:hover {
        color: rgb(9, 17, 13);
        text-decoration: underline;
        text-decoration-color: #339933;
    }

.socialLinks li {
    display: inline-block;
    width: 50px;
    height: 80px;
    padding: 5px;
}

.col3 {
    flex-grow: 1;
    width: 33.33%;
}

.sectionArea {
    padding: 80px 0;
}

.sectionHeader {
    background: #0a560a;
    display: inline-block;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h1 {
    font-size: 52px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 15px;
    color: #339933;
    font-weight: 700;
    transition: all .4s ease;
}

.col2 {
    width: 50%;
}


.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.col4 {
    width: 30%;
    flex: 1;
}

.container1 {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.sectionArea {
    padding: 80px 0;
}

.featuresBody .container, .engineBody .container {
    justify-content: space-between;
}
/*Ürün DEtay*/
.ResimRow {
    width: 30%;
    margin: 20px;
    margin-top: 40px;
    margin-left: 175px;
    padding: 0;
}

    .ResimRow .Urunlerimg img {
        border: 3px solid #ccc;
        padding: 5px;
    }

#zoom img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

    #zoom img:hover {
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
    }

.Aciklama {
    width: 70%;
    height: 380px;
    margin: 20px;
    margin-top: 43px;
    margin-right: 400px;
}

    .Aciklama .cizgi {
        border: 3px solid #ccc;
        border-radius: 7px;
        padding: 25px;
        height: 100%;
        width: 100%;
    }

.metinler .Samp2 {
    padding: 15px;
    background: #ffbb99;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 15px;
}

.metinler .Samp1 {
    background: #ffffe6;
    padding: 15px;
}

.metinler p {
    padding: 7px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #333;
    line-height: 5px;
}

.deneme {
    display: flex;
    flex-direction: inherit;
    margin-bottom: 5px;
    font-size: 15px;
    align-items: center;
}

    .deneme .button {
        text-decoration: none;
        background: #00b377;
        padding: 10px 15px;
        margin-left: 210px;
        border-radius: 3px;
        color: #fff;
        font-weight: 500;
        transition: .5s ease;
    }

    .deneme a:hover {
        background: #1affb2;
    }

.deneme1 p {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 215px;
    margin-bottom: 15px;
}


/*HOME SETTİNG */
header .logo {
    margin: auto;
}


    header .logo img {
        display: block;
        height: 70px;
        margin: 0 auto;
    }


ul.list1 li {
    float: left;
    position: relative;
}

    ul.list1 li a {
        padding: 23px 23px;
        display: block;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        color: #333;
        transition: all .5s ease;
    }

.list1 li:hover a {
    background: #283c63;
    color: #fff;
}

ul.list1 ul {
    width: 136px;
    background: #283c63;
    position: absolute;
    opacity: 0;
    top: 30px;
    transition: 250ms all;
    visibility: hidden;
}

ul.list1 .list3 li a {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px 34px;
    margin-left: 5px;
    color: #fff;
}

    ul.list1 .list3 li a:hover {
        background: #3f5b92;
    }

ul.list1 li:hover .list3 {
    opacity: 1;
    visibility: visible;
    top: 50px;
}





.menu2 li {
    float: left;
    margin: 12px 0;
}

.menu2 .list2 li a {
    padding: 8px 5px;
    display: block;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 15px;
    color: #333;
    transition: all .5s ease;
}

.menu2 .list2 li:hover a {
    color: rgb(233, 139, 0);
    text-decoration: underline;
    text-decoration-color: rgb(220, 120, 0);
}

.col5 {
    width: 40%;
}

.col6 {
    width: 15%;
}

.col {
    margin: 10px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}


.container2 {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}

.container3 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 10px;
    margin-left: 120px;
    margin-right: 120px;
    height: auto;
}

.Urunlerimg {
    height: 375px;
    margin-top: 0px;
}

    .Urunlerimg img {
        height: 100%;
        border-radius: 10px;
    }

.Urunbaslik h3 {
    font-size: 100px;
    color: #339933;
    font-weight: 700;
    transition: all .4s ease;
}



.slider1 {
    width: 100%;
    height: 30px;
}

    .slider1 img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

.slider2 {
    width: 100%;
    height: 150px;
}

    .slider2 img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }




#mainSlider {
    height: 500px;
    background: url('/OtoGaleri/img/mainHome.jpg') center center no-repeat;
}

#mainCaption {
    height: 500px;
    background: rgba(0,0,0, .5);
}

#slider-wrapper {
    width: 100%;
    height: 600px;
    margin: 15px auto;
    position: relative;
    margin-bottom: 0px;
    background: #fff;
    overflow: hidden;
}

#s1 {
    padding: 8px;
    background: #339933;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s2 {
    padding: 8px;
    background: #339933;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s3 {
    padding: 8px;
    background: #339933;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s4 {
    padding: 8px;
    background: #339933;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

    #s1:hover,
    #s2:hover,
    #s3:hover,
    #s4:hover {
        opacity: .50;
    }

.inner-wrapper {
    width: 100%;
    height: 535px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
}

.control {
    display: none;
}

#Slide1:checked ~ .overflow-wrapper {
    margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
    margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
    margin-left: -200%;
}

#Slide4:checked ~ .overflow-wrapper {
    margin-left: -300%;
}

#Slide1:checked + #s1 {
    opacity: 1;
}

#Slide2:checked + #s2 {
    opacity: 1;
}

#Slide3:checked + #s3 {
    opacity: 1;
}

#Slide4:checked + #s4 {
    opacity: 1;
}

.overflow-wrapper {
    width: 400%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.slide img {
    width: 25%;
    float: left;
}

/*ÜYE OL*/
.contactTop {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
}

.contactFrom {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: inherit;
}

.Requ {
    margin: 15px;
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.textbax {
    color: #333;
    font-size: 15px;
    padding: 10px 2px;
    margin: 3px 5px;
    border-radius: 5px;
    width: 300px;
}

.fromitem {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}

.FormPE {
    font-size: 15px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fromshape {
    color: #fff;
    float: left;
    background: #0a560a;
    padding: 8px;
    width: 8%;
    text-align: center;
}

.formfield {
    color: #fff;
    background: #0a560a;
    border: none;
    padding: 15.5px;
    width: 92%;
    display: block;
    font-size: 16px;
}

.formbtn {
    display: block;
    border: none;
    background: #0a560a;
    margin: 8px auto;
    color: #fff;
    padding: 15px 35px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: .5s ease;
}

    .formbtn:hover {
        background: #339933;
        color: #f3f3f3;
    }

.FormKayitLabel {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    text-align: center;
    margin-left: 195px;
}

.galleryTop {
    text-align: center;
}

.gallerySlider {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.galleryslideritem {
    width: 100%;
    margin-top: 10px;
    position: relative;
    left: 0;
    animation: sliderAnimation 30s infinite;
}

    .galleryslideritem img {
        width: 11%;
        float: left;
        height: 300px;
    }

@keyframes sliderAnimation {
    0% {
        left: 0;
    }

    10% {
        left: -10%;
    }

    25% {
        left: -25%;
    }

    35% {
        left: -35%;
    }

    45% {
        left: -50%;
    }


    50% {
        left: -100%;
    }

    60% {
        left: -80%;
    }

    70% {
        left: -70%;
    }

    80% {
        left: -60%;
    }

    90% {
        left: -40%;
    }

    100% {
        left: 0;
    }
}

.Aciklama1 {
    width: 50%;
    height: 100%;
    margin: 20px;
    margin-top: 43px;
    margin-right: 400px;
}

    .Aciklama1 .cizgi1 {
        border: 3px solid #ccc;
        border-radius: 7px;
        padding: 25px;
        height: 100%;
        width: 100%;
    }

.Deneme2 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.Aciklama2 {
    width: 30%;
    height: 100%;
    margin: 20px;
    margin-top: 175px;
    margin-right: 300px;
    margin-left: 110px;
}

    .Aciklama2 .cizgi2 {
        border: 3px solid #ccc;
        border-radius: 7px;
        padding: 25px;
        height: auto;
        width: 100%;
        margin-left: 295px;
    }

.Deneme3 {
    display: flex;
    flex-direction: column-reverse;
    font-size: 15px;
}

.Aciklama3 {
    width: 45%;
    height: auto;
    margin: 20px;
    margin-top: 100px;
    margin-right: 350px;
    margin-left: 20px;
}

    .Aciklama3 .cizgi3 {
        border: 3px solid #ccc;
        border-radius: 7px;
        padding: 25px;
        height: 100%;
        width: 170%;
        margin-left: 120px;
    }

/*ADMİN PANEL*/

/*Admin aktegoriler*/
.image_icon {
    width: 40px;
    height: 40px;
    text-align: right;
}

.urunbtn {
    background: #0a560a;
    padding: 10px;
    color: #fff;
    margin: 20px;
}

    .urunbtn:hover {
        background: #339933;
        color: #fff;
    }

.Aciklama1 {
    width: 100%;
    height: 100%;
    margin: 20px;
    margin-top: 43px;
    margin-right: 100px;
}

    .Aciklama1 .cizgi1 {
        border: 3px solid #ccc;
        border-radius: 7px;
        padding: 25px;
        height: 100%;
        width: 100%;
        margin-left: 260px;
    }
/*Contant*/
/*
#contactSlider {
    height: 250px;
    background: url('/img/iletişim-banner.png') center center no-repeat;
    background-size: cover;
}

.sectionHeader {
    background: #500d16;
    display: inline-block;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#contactCaption {
    height: 250px;
    background: rgba(0,0,0, .5);
}

.galleryTop {
    text-align: center;
}

.gallerySlider {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.galleryslideritem {
    width: 300%;
    margin-top: 10px;
    position: relative;
    left: 0;
    animation: sliderAnimation 30s infinite;
}

    .galleryslideritem img {
        width: 11.33%;
        float: left;
        height: 300px;
    }

@keyframes sliderAnimation {
    0% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    75% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.contactTop {
    text-align: center;
}*/
.label {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    text-align: center;
    margin-left: 225px;
}

.td {
    text-align: left;
}

.label1 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: green;
    margin-left: 260px;
}

.sepetbtn {
    width: 200px;
    margin-left: 200px;
    text-align: center;
    font-size: 18px;
    background:#0a560a;
    color:#fff;
    padding:5px;

    
}
.sepetbtn:hover
{
    background:#68b968;
}
